.banner{
    background-color: $uni-bg-color-grey;
    margin-bottom: $uni-spacing-col-sm * 2;
    
    &--card{
        overflow: hidden;
        border-radius: $uni-border-radius-lg;
    }
    
    &__img{
        display: block;
        width: 100%;
        height: 200upx;
    }
    
    .swiper-box{
        height: 200upx;
    }
}