@import '../mixin/flex.scss';

.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    @include flex(null, center);
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8upx $uni-border-color;
    
    &__cell{
        @include flex(center, center);
        @include flex-self(full);
        height: 54px;
        padding: 0 $uni-spacing-row-base;
        color: $uni-text-color;
        
        uni-icons{
            margin-right: $uni-spacing-row-sm;
        }
        
        &--main{
            color: #fff;
            background-color: $color-main;
        }
        
        &--error{
            color: #fff;
            background-color: $uni-color-error;
        }
    }
    
    &__btn{
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: $uni-font-size-base;
        border-radius: 0;
    
        /* #ifdef MP */
        &--cover{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999;
            text-align: center;
            color: #fff;
            background-color: $color-main !important;
        }
        /* #endif */
    }
    
    .is_star{
        color: $uni-text-color-grey;
    }
    
    &__cellection{
        display: block;
        width: 32rpx;
        height: 32rpx;
        margin-right: 8rpx;
    }
}