.uni-swiper-msg{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    
    &-fixed{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: none;
        padding: 0 16upx;
    }
    
    &-img{
        flex: auto;
        width: 100%;
    }
    
    swiper{
        height: 100%;
        padding-right: 16upx;
    }
}