*{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

input{
    -webkit-user-select: auto;
    outline: none;
}

/* 主题风格 */
// html, body, div, p, ul, li, h1, h2, h3, h4, h5, h6 {
//     font-family: tahoma, arial, 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft Yahei';
// }
body{font-family:Helvetica;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
}

.clear {
    clear: both;
    height: 0;
}

.display_i_b {
    display: inline-block;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.btn_group{
    margin: 5px;
    padding: 0px;
    box-shadow: 0 0 5px #bbb;
}
.btn_group .btn_item {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: 0;
    opacity: 1;
    cursor: pointer;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    padding: 0;
    margin: 0;
}
.btn_group.vertical .btn_item {
    border-bottom: 1px solid #ccc;
}
.btn_group.horizontal .btn_item {
    float: left;
    border-right: 1px solid #ccc;
}

.btn_group.vertical .btn_item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.btn_group.horizontal .btn_item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn_group.vertical .btn_item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0px solid #ccc;
}
.btn_group.horizontal .btn_item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 0px solid #ccc;
}

.btn_group .btn_item:active, .btn_group .btn_item:focus, .btn_group .btn_item.active {
    background-color: #48505c;
}

.btn_group .btn_item:hover{
    background-color: #84b1e4;
}
.icon_duoyun{
    background-image: url(../images/duoyun.png);
}
.icon_layers{
    background-image: url(../images/layers-2x.png);
}
.icon_chaoxi {
    background-image: url(../images/icon_chaoxi_0.png);
}
.icon_chaoxi.active,.icon_chaoxi:hover {
    background-image: url(../images/icon_chaoxi_f.png);
}
.icon_feng {
    background-image: url(../images/icon_feng_0.png);
}
.icon_feng.active,.icon_feng:hover {
    background-image: url(../images/icon_feng_f.png);
}
.icon_fengchang {
    background-image: url(../images/icon_dafeng_0.png);
}
.icon_fengchang.active,.icon_fengchang:hover {
    background-image: url(../images/icon_dafeng_f.png);
}
.icon_hailiang {
    background-image: url(../images/icon_hailang_0.png);
}
.icon_hailiang.active,.icon_hailiang:hover {
    background-image: url(../images/icon_hailang_f.png);
}
.icon_qiwen {
    background-image: url(../images/icon_wendu_0.png);
}
.icon_qiwen.active,.icon_qiwen:hover {
    background-image: url(../images/icon_wendu_f.png);
}
.icon_qiya {
    background-image: url(../images/icon_qiya_0.png);
}
.icon_qiya.active,.icon_qiya:hover {
    background-image: url(../images/icon_qiya_f.png);
}
.icon_taifeng {
    background-image: url(../images/icon_taifeng_0.png);
}
.icon_taifeng.active,.icon_taifeng:hover {
    background-image: url(../images/icon_taifeng_f.png);
}
.icon_yubao {
    background-image: url(../images/icon_tianqi_0.png);
}
.icon_yubao.active,.icon_yubao:hover {
    background-image: url(../images/icon_tianqi_f.png);
}
.icon_yu_b{
    background-image: url(../images/yu_b.png);
}
.icon_p{
    background-image: url(../images/icon_p_0.png);
}
.icon_p.active,.icon_p:hover{
    background-image: url(../images/icon_p_f.png);
}
.icon_quanqiu{
    background-image: url(../images/icon_quanqiu_0.png);
}
.icon_quanqiu.active,.icon_quanqiu:hover{
    background-image: url(../images/icon_quanqiu_f.png);
}
.icon_paiwu{
    background-image: url(../images/icon_paiwu_0.png);
}
.icon_paiwu.active,.icon_paiwu:hover{
    background-image: url(../images/icon_paiwu_f.png);
}
.icon_jingji{
    background-image: url(../images/icon_jingji_0.png);
}
.icon_jingji.active,.icon_jingji:hover{
    background-image: url(../images/icon_jingji_f.png);
}
.icon_guangshan{
    background-image: url(../images/icon_guangshan_0.png);
}
.icon_guangshan.active,.icon_guangshan:hover{
    background-image: url(../images/icon_guangshan_f.png);
}
.icon_zhongguo{
    background-image: url(../images/icon_zhongguo_0.png);
}
.icon_zhongguo.active,.icon_zhongguo:hover{
    background-image: url(../images/icon_zhongguo_f.png);
}
.icon_time{
    background-image: url(../images/icon_time_0.png);
}
.icon_time.active,.icon_time:hover{
    background-image: url(../images/icon_time_f.png);
}
.icon_lcb{
    background-image: url(../images/icon_lcb_0.png);
}
.icon_lcb.active,.icon_lcb:hover{
    background-image: url(../images/icon_lcb_f.png);
}

.my-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: none;
    background-color: #A3CCFF;
}

.div_btn {
    position: relative;
    top: 10px;
    left: 80px;
    z-index: 888;
}

.div_btn input[type="button"] {
    cursor: pointer;
}

.count_span {
    color: red;
    background-color: #fff;
    text-align: left;
    width: 120px;
    font-weight: bolder;
    padding: 0 5px;
    border: 1px solid #000000;
}

.hide{
    display: none;
}

.shadow_2{
    box-shadow: 0 0 4px rgba(0,0,0,.25);
}